.App {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}

.nav-menu {
  color: #fff;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 17px;
  /* align-items: center; */
}

.nav-div {
  background-color: #881852;
  /* padding: 10px; */
  height: 100px;
}

.nav-right {
  margin-right: 30px;
}

.wizbo-img {
  width: 100%;
  height: 140px;
  position: relative;
  bottom: 40px;
}

.clock-btn {
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 15px;
  background: #36021d;
  color: #fff;
}

.dashboard-img {
  width: 80%;
  height: auto;
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  color: #504b4b;
}

.App p {
  font-size: 22px;
  font-weight: 500;
  color: #373333;
}

.h1-style {
  position: relative;
  bottom: 20px;
}
.p-para{
  position: relative;
  bottom: 15px;
}